a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* -----------------------
Colors:
    light-green: #C3D3CB
    dark-green: #152D20
    darker-green: #0b1710
------------------------- */

/* ---Main layout--- */

html {
    font-size: 125%;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    background-color: white;
}

/* This is used to fix fonts looking bolder on Firefox (macOS) */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

/* This is used to limit the
size of the images that go beyond the wrapper */
.page-content {
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    background-color: #152D20;
}

.outer-wrapper {
    max-width: 2000px;
    margin: 0 auto;
    position: relative;
}

.wrapper {
    width: calc(100% - 50px);
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* ---Main reusable blocks--- */

.button {
    background-color: white;
    color: #152D20;
    font-family: 'Cormorant Garamond', serif;
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
    line-height: 0.7rem;
    border: none;
    padding: 15px 20px;
    min-height: 45px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color : #112418;
    color: white;
}

.button--secondary {
    background-color: #152D20;
    color: white;
}

.button--secondary:hover {
    background-color: #C3D3CB;
    color: #152D20;
}

.heading {
    font-family: 'Fredericka the Great', serif;
    font-weight: 400;
    color: white;
    font-size: 1.8rem;
}

.p {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.site-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 50px;
}

.site-header__button {
    padding: 25px;
    font-size: 2.5rem;
    color: white;
    background: none;
    border: none;
    display: none;
}

.site-header__navigation {
    position: relative;
    left: -15px; /* Aligns the menu with the wrapper */
    transition: opacity 0.5s;
    display: block;
}

.site-header:hover .site-header__navigation {
    opacity: 1;
    display: block;
}

.site-header:active .site-header__navigation {
    opacity: 1;
    display: block;
}

.site-header__link {
    color: white;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 15px;
    display: inline-block;
    transition: background-color 0.5s;
}

.site-header__link:hover {
    background-color: rgba(0, 0, 0, 1);
}

@media (max-width: 570px) {
    .site-header {
        width: auto;
        left: auto;
        right: 0;
        position: fixed;
    }
    .site-header__button {
        display: block;
        position: absolute;
        right: 0;
    }
    .site-header__navigation {
        opacity: 0;
        display: none;
        position: absolute;
        height: 500px;
        right: 25px;
        width: 10%;
        right: 0;
        top: 110px;
    }
    .site-header__link {
        text-align: right;
        display: block;
        float: right;
        width: 150px;
        padding: 25px;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

/* ---Sections--- */

.section-hero {
    background-color: #152D20;
    position: relative;
}

.section-hero__heading {
    font-size: 5.1rem;
    text-align: right;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 1;
}
.section-hero__image {
    object-fit: cover;
    max-height: 100vh;
    height: 900px;
    min-height: 600px;
    width: 100%;
    min-width: 720px;
}

.section-hero__nav {
    position: absolute;
    bottom: 25px;
    right: 0;
    z-index: 1;
}

.section-hero__link {
    display: block;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding: 5px 0;
    text-decoration: none;
}

@media (max-width: 990px) {
    .section-hero__heading {
        font-size: 4rem;
    }
}

@media (max-width: 570px) {
    .section-hero__heading {
        font-size: 1.9rem;
        right: auto;
        left: 0;
        top: 25px;
    }
}

.section-featured {
    padding: 80px 0;
}

.section-featured__heading {
    margin-bottom: 10px;
}

.section-featured__image {
    height: 250px;
    width: 250px;
    object-fit: cover;
    float: left;
}

.section-featured__article {
    position: relative;
    float: left;
    width: calc(100% - 250px);
    min-height: 250px;
    padding-left: 25px;
}

.section-featured__p {
    margin-bottom: 50px;
}

.section-featured__button {
    position: absolute;
    bottom: 0;
    left: 25px;
}

@media (max-width: 720px) {
    .section-featured {
        padding: 40px 0;
    }
}

@media (max-width: 620px) {
    .section-featured__image {
        width: 100%;
        height: 300px;
        margin-bottom: 25px;
        float: none;
    }
    .section-featured__article {
        width: 100%;
        padding: 0;
        float: none;
    }
    .section-featured__text {
        font-size: 0.7rem;
        line-height: 1.1rem;
        margin-bottom: 25px;
    }
    .section-featured__button {
        position: inherit;
        left: 0;
    }
}

.section-gallery {
    padding: 80px 0;
    background-color: #C3D3CB;
}

.section-gallery__heading {
    color: #152D20;
    text-align: center;
    margin-bottom: 80px;
}

.section-gallery__image {
    max-width: calc((100% - 40px) /3);
    margin-right: 20px;
    float: left;
}

.section-gallery__image--second {
    margin: 0;
}

.section-gallery__image--third {
    margin-right: 0;
    margin-left: 20px;
}

@media (max-width: 720px) {
    .section-gallery {
        padding: 40px 0;
    }
    .section-gallery__heading {
        margin-bottom: 40px;
    }
    .section-gallery__image {
        max-width: calc((100% - 20px) /2);
        margin-right: 10px;
    }
    .section-gallery__image--second {
        margin: 0 0 0 10px;
    }
    /* Hides the image */
    .section-gallery__image--third {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
}

.section-links {
    padding: 40px 0;
}

.section-links__nav {
    text-align: center;
    margin: auto;
    width: 75%;
}

.section-links__link {
    color: white;
    text-decoration: none;
    text-align: center;
    width: calc(100% / 3);
    float: left;
}

.section-links__text {
    width: 200px;
    font-size: 1.6rem;
    font-weight: 600;
    margin: auto;
    transition: color 0.3s;
}

.section-links__icon {
    display: block;
    font-size: 2.8rem;
    margin: 15px;
    transition: color 0.3s;
}

.section-links__link:hover .section-links__icon,
.section-links__link:hover .section-links__text {
    color : black;
}

@media (max-width: 840px) {
    .section-links {
        width: 100%;
    }
    .section-links__link {
        float: none;
        display: block;
        width: 250px;
        margin: 0 auto 40px auto;
    }
}

.section-articles {
    text-align: center;
    padding: 0;
    background-color: white;
}

.section-articles__item {
    position: relative;
}

.section-articles__article {
    height: 500px;
    text-align: left;
}

.section-articles__limit {
    width: 50%;
    padding: 100px 40px 40px 0;
}

.section-articles__limit--inverted {
    margin-left: 50%;
    padding-left: 100px;
    padding-right: 0;
}

.section-articles__heading {
    font-size: 1.5rem;
    color: #152D20;
    max-width: 400px;
    margin-bottom: 10px;
}

.section-articles__p {
    color: black;
}

.section-articles__image {
    position: absolute;
    top: 0;
    right: 0;
    height: 500px;
    object-fit: cover;
    width: 50%;
}

.section-articles__image--inverted {
    left: 0;
    right: auto;
}

.section-articles__button {
    margin-top: 25px;
}

@media (max-width: 1300px) {
    .section-articles__limit--inverted {
        padding-left: 25px;
    }
}

@media (max-width: 900px) {
    .section-articles__article,
    .section-articles__image {
        height: 350px;
    }
    .section-articles__limit {
        padding-top: 40px;
    }
    .section-articles__description {
        font-size: 0.7rem;
        line-height: 1rem;
    }
}

@media (max-width: 830px) {
    .section-articles__article {
        text-align: center;
        height: auto;
    }
    .section-articles__limit {
        width: 100%;
        padding: 40px 0 0 0;
    }
    .section-articles__limit--inverted {
        margin-left: 0;
    }
    .section-articles__heading {
        max-width: 100%;
    }
    .section-articles__button {
        margin-bottom: 20px;
    }
    .section-articles__image {
        position: inherit;
        width: 100%;
    }
}

.section-contact {
    padding: 80px 0;
    color: white;
    text-align: left;
}

.section-contact__nav {
    width: 25%;
    float: left;
}

.section-contact__link {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    font-weight: 400;
    display: block;
    margin-bottom: 6px;
    transition: color 0.3s;
}

.section-contact__link:hover {
    color: black;
}

.section-contact__newsletter {
    float: left;
    width: 50%;
    padding: 0 25px;
    text-align: center;
}

.section-contact__contact {
    float: left;
    width: 25%;
    text-align: right;
}

.section-contact__heading {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.section-contact__input {
    width: calc(100% - 100px);
    float: left;
    height: 45px;
    margin-bottom: 10px;
    padding: 5px 0 5px 25px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
    font-size: 0.7rem;
}

.section-contact__button {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    width: 100px;
    float: left;
    height: 45px;
    background-color: black;
    color: white;
    font-size: 0.7rem;
    line-height: 0.6rem;
    padding: 10px 0 8px 0;
    margin-bottom: 25px;
}

.section-contact__p {
    font-size: 0.75rem;
    line-height: 0.9rem;;
    margin-bottom: 6px;
}

@media (max-width: 1000px) {
    .section-contact__nav,
    .section-contact__newsletter,
    .section-contact__contact {
        width: 60%;
        margin: 0 auto;
        padding: 0;
        float: none;
        text-align: center;
    }
    .section-contact__link {
        float: left;
        width: calc(100% / 4);
        margin-bottom: 25px;
    }
}

@media (max-width: 720px) {
    .section-contact {
        padding: 40px 0;
    }
    .section-contact__nav,
    .section-contact__newsletter,
    .section-contact__contact {
        width: 70%;
    }
    .section-contact__nav {
        word-spacing: 20px;
        margin-bottom: 10px;
    }
    .section-contact__link {
        display: inline;
        float: none;
    }
}

@media (max-width: 475px) {
    .section-contact__nav,
    .section-contact__newsletter,
    .section-contact__contact {
        width: 100%;
    }
    .section-contact__input,
    .section-contact__button {
        float: none;
        width: 100%;
    }
    .section-contact__link {
        font-size: 0.8rem;
    }
    .section-contact__nav {
        word-spacing: 5px;
    }
    .section-contact__input {
        text-align: center;
        padding-left: 0;
    }
}

/* ---Site Footer--- */

.site-footer {
    font-size: 0.7rem;
    padding: 15px;
    background-color: black;
    text-align: center;
}